[Unit]
Description=Apache Kafka - Zookeeper
After=network.target

[Service]
Type=simple
User=confluent
WorkingDirectory=/opt/confluent
ExecStart=/opt/confluent/bin/zookeeper-server-start /opt/confluent/etc/kafka/zookeeper.properties
ExecStop=/opt/confluent/bin/zookeeper-server-stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
